# requirements.txt
Jinja2
langchain
langchain_openai>=0.1.0
langchain_experimental
openai
shiny>=0.4
pandas
# only for statistical analysis
statsmodels
seaborn
matplotlib
tabulate
scikit-learn 
geopy
folium
csv


